body {
    color: #cccccc;
    background-color: #313335;
    font-family: PingFangSC-Regular, "Microsoft YaHei", sans-serif;
    -webkit-user-select: none;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #3c3f41;
    cursor: default;
}

#sidebar-about {
    width: auto;
    height: auto;
    padding: 24px 20px;
}

#sidebar-logo {
    position: absolute;
    width: 36px;
    height: 36px;
}

#sidebar-title {
    padding-left: 40px;
    line-height: 20px;
}

#sidebar-title-version {
    line-height: 12px;
    font-size: 11px;
    color: #999999;
}

.sidebar-tab-item {
    width: auto;
    height: auto;
    padding: 8px 20px;
}

.layui-this {
    background-color: #3697dc;
}

#content {
    height: 100vh;
    padding-left: 200px;
}

.content-item {
    display: none;
    padding-top: 30px;
    padding-bottom: 62px;
    padding-right: 20px;
}

.layui-form-item {
    clear: unset;
}

.layui-form-label {
    padding: 3px 2px;
    width: 60px;
}

.layui-form-select dl {
    top: 30px;
    background-color: #3c3f41;
    border-color: #777777;
    border-radius: 2px;
}

.layui-form-select dl dd {
    line-height: 30px;
}

.layui-form-select dl dd:hover {
    background-color: #4b4b4b;
}

.layui-form-select dl dd.layui-this {
    background-color: #3697dc;
}

.layui-input-block {
    margin-left: 64px;
}

.layui-input {
    height: 26px;
    color: #dddddd;
    background-color: #3c3f41;
    border-color: #777777;
    border-radius: 4px;
}

.layui-form-radio {
    line-height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.layui-form-radio > i {
    font-size: 16px;
}

#icon-choose-repo-path {
    display: none;
    position: absolute;
    top: 3px;
    right: 5px;
    line-height: 20px;
    font-size: 12px !important;
    padding: 0 6px;
    background-color: #515151;
    border-radius: 4px;
    vertical-align: middle;
}

#icon-choose-repo-path:hover {
    color: #ffffff;
}

.form-action {
    position: fixed;
    left: 200px;
    right: 0;
    bottom: 0;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.form-action > button {
    float: right;
    width: 100px;
    font-size: 14px !important;
    margin-left: 20px;
}

#repo-list {
    position: fixed;
    top: 30px;
    left: 200px;
    right: 0;
    bottom: 30px;
    padding: 0 20px;
    overflow: scroll;
}

#repo-list::-webkit-scrollbar {
    display: none;
}

.repo-list-item {
    padding: 10px 30px;
    cursor: pointer;
}

.repo-list-item-selected {
    background-color: #464a4d;
}

.repo-list-item-remove {
    position: absolute;
    right: 50px;
    line-height: 34px;
    font-size: 16px;
    color: #bbbbbb;
    display: none;
}

.repo-list-item-remove:hover {
    color: #eeeeee;
}

.repo-list-item-title {
    line-height: 18px;
    font-size: 14px;
    padding-right: 30px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-list-item-url {
    line-height: 16px;
    font-size: 13px;
    color: #999999;
    padding-right: 30px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
